Implementation/americanflights-sapi/src/main/mule/americanflights-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="americanflights-sapi-implFlow" doc:id="f3f42dba-ab5a-4639-8c0e-9cf65c8d9a8d" >
		<http:request method="GET" doc:name="Request American Flights" doc:id="c005931f-fb4c-48fc-8d05-60fabd0189a9" config-ref="HTTP_Request_configuration" path="/api/flights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9b7f6339-3671-4a6b-90cf-ae13cbc88e7c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
