Implementation/operators-sapi/src/main/mule/operators-sapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="operators-sapi-addFlow" doc:id="6001a3a0-1e78-4621-b50c-e4f106b6bf7b" >
		<ee:transform doc:name="Transform Message" doc:id="9ec85fd8-8d2c-4aae-8e54-14ff0918a673" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.first,
		ns0#intB: payload.second
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Add" doc:id="c397bfdf-a250-41b9-a9ee-c477025dc201" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="73dcabbc-5c20-423c-bd29-820d34080af7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="364ef692-855c-4914-8251-9aaacc94cd21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	code: "200", 
	message: "Add Operation Success", 
	"data": {
      "result": payload..AddResult[0]
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="operators-sapi-subtractFlow" doc:id="f0bfb7c9-442c-4294-ac86-44447e937492" >
		<ee:transform doc:name="Transform Message" doc:id="f710e07c-6e48-4592-a143-c7b167665886" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: payload.first,
		ns0#intB: payload.second
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:name="Subtract" doc:id="742a4171-b2a2-4342-a12d-1df0919cc955" config-ref="Web_Service_Consumer_Config" />
		<logger level="INFO" doc:name="Logger" doc:id="fe1d5d59-81f3-4c13-b9e2-9301032b15ae" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="a6e30205-a56e-4d92-93e1-ccc86a21d174" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	code: "200", 
	message: "Subtract Operation Success", 
	"data": {
      "result": payload..SubtractResult[0]
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="operators-sapi-multiplyFlow" doc:id="3e9a08b6-6e5b-4bf9-a1c4-62df642cb972" >
		<ee:transform doc:name="Transform Message" doc:id="7e6f3e1e-0746-4146-9013-d2277ec82c7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.first,
		ns0#intB: payload.second
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Multiply" doc:id="1b2ead72-2640-46b5-aeb4-d35e8d523a02" config-ref="Web_Service_Consumer_Config" />
		<logger level="INFO" doc:name="Logger" doc:id="13ba445d-5004-47cd-9e6c-1299c05ff90c" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="0a31f5d4-373b-4d66-9be2-eb214bad75f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	code: "200", 
	message: "Multiply Operation Success", 
	"data": {
      "result": payload..MultiplyResult[0]
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="operators-sapi-divideFlow" doc:id="97efe9c4-4eee-436c-a506-c10bc5b2a1ac" >
		<ee:transform doc:name="Transform Message" doc:id="c6ae0ae8-3684-4add-bab8-1ac4e3e3c548" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: payload.first,
		ns0#intB: payload.second
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Divide" doc:id="c014fce5-fe57-42b2-a9aa-0617f6bb3e16" config-ref="Web_Service_Consumer_Config" />
		<logger level="INFO" doc:name="Logger" doc:id="aa6b23ec-cd50-40fc-9e1d-13d8512337ee" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="5b5f1782-bc6b-4833-9010-b9242e6d6ebe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	code: "200", 
	message: "Divide Operation Success", 
	"data": {
      "result": payload..DivideResult[0]
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
