Implementation/flightsprice-papi/src/main/mule/flightsprice-papi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="flightsprice-papi-implFlow" doc:id="a0e268ad-55cd-4085-8ffc-d796b2e581ab" >
		<http:request method="GET" doc:name="Request AmericanFlights-sAPI" doc:id="91ecb67c-3eee-43b0-a584-cf483382dca1" config-ref="HTTP_Request_configuration_AmericanFlights" path="/american-flights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:query-params>
		</http:request>
		<set-variable value="" doc:name="flightList" doc:id="74c75a28-5241-46d5-9cf6-b726e4d3b6d8" variableName="flightList"/>
		<foreach doc:name="For Each" doc:id="b6a13324-3599-4a75-b244-2fd7bccedcf3" >
			<set-variable value="#[payload.price]" doc:name="price" doc:id="c9e18c67-d5fc-4f41-b8ed-e0069981ec0a" variableName="price"/>
			<set-variable value="#[0]" doc:name="soldedSeats" doc:id="28d468fd-84b7-455d-8767-79a50bacc978" variableName="soldedSeats"/>
			<http:request method="POST" doc:name="Request Solded Seats" doc:id="32aece39-95e1-4e7b-9b40-6c5643dbf9cf" config-ref="HTTP_Request_configuration_Operators" path="/subtract" responseTimeout="300000" target="soldedSeats" targetValue="#[payload.data.result]">
				<http:body ><![CDATA[#[{ first: payload.plane.totalSeats, second: payload.emptySeats }]]]></http:body>
			</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="dbd9fb80-463b-4c02-a709-bc40a0da70d6" />
		</foreach>
	</flow>
</mule>
